[2019-03-12 22:02] robinpyon opened #1 "Uncaught Error when trying to select a video (when defined as an object inside a block array)"
First of all — thanks for providing this plugin! Please bear with me as I'm new to Sanity, so nomenclature may be off.

When adding an object containing `mux.video` as part of a block array, I get the following error when trying to select a video:

[code]

And my schema (in a clean project initialised by `sanity init`):

[code]

Am I missing something completely fundamental about how objects shoul

[2019-03-12 22:06] skogsmaskin commented on #1
Thanks for reporting @robinpyon! We will have a look at it shortly.

[2019-05-04 18:06] viperfx opened #2 "Error when running graphql-deploy"
[code]

I ran into the following issue when deploying the schema using `yarn run graphql-deploy`

It seems to work fine in the local studio - by that I was able to set my API keys and upload a video

I followed the instructions here to install the plugin - https://github.com/sanity-io/sanity-plugin-mux-input

[2019-05-04 20:00] viperfx commented on #2
After running `yarn clean` and reinstalling the plugin, it works fine.

[2019-05-04 20:00] #2 closed

[2019-06-01 13:20] robinpyon commented on #1
I can confirm this is now working – thank you!

[2019-06-01 13:20] #1 closed

[2019-07-26 15:57] miracle2k opened #5 "Video upload keeps failing, might be the proxy's fault"
I have an issue with the video upload; it keeps failing with a particular video, but it works with another, so the general setup seems to be fine. I have a standard video field in my schema:

[code]

When uploading the video, I get this message after 100%:

<img width="594" alt="Screen Shot 2019-07-26 at 5 48 20 PM" src="https://user-images.githubusercontent.com/13807/61964269-c16fd900-afcd-11e9-8

[2019-07-26 15:59] miracle2k commented on #5
I can reproduce this with the following video, which I pull with youtube-dl:

https://vimeo.com/341407777
Password: BlumenElsdörfer

[2019-08-09 19:12] miracle2k commented on #5
It seems to have worked now.

[2019-08-09 19:12] #5 closed

[2019-09-27 17:46] good-idea opened #8 "large uploads fail"
Perhaps the same as #5, but, the POST data is showing up fine in the network tab.

I'm uploading a 500mb video file, which is taking about 6 minutes on my connection. After the upload reaches 100%, I see "Unexpected error occurred":

![image](https://user-images.githubusercontent.com/11514928/65790030-8005c200-e113-11e9-8458-fa833b2f97ae.png)

In the network tab, the request has failed with a 400

[2019-10-02 21:19] david-j-davis commented on #8
I'm having the same issue happening repeatedly as well as of today. I'm uploading a video of around 350mb. My videos also successfully upload to Mux dashboard like @good-idea

[2019-10-03 02:34] evenwestvang commented on #8
Thank you for this – we'll investigate.

[2019-10-03 18:03] good-idea commented on #8
@david-j-davis as a little workaround -- if you're using the Structure plugin, you can manually add your Mux assets with a setup like this:

[code]

It's a bit of a "hack", and the display title for all of the documents will be "ready", but you can add a new one, manually enter `ready` as the status, the asset ID and playback ID, which you can copy from your Mux dashbord:

![image](https://user-im

[2019-10-03 19:14] david-j-davis commented on #8
Thanks @good-idea for the back-up plan. My client can wait maybe a week before I'll have to do this if there isn't a fix in place by the Sanity team.

[2019-10-03 22:39] good-idea commented on #8
@david-j-davis no problem. If it's helpful at all, I wrote a simple CLI for uploading directly to Mux. My client had a big batch of videos to upload, and this made it a lot easier.

https://github.com/good-idea/100-year-plan/tree/master/mux-upload

Packaged as a standalone script (just a zip from my dropbox):

https://www.dropbox.com/s/wdge4i4xalewocg/mux-upload.zip?dl=0

(run that with `./mux-upl

[2019-10-12 15:32] skogsmaskin commented on #8
Hi! We have released `v.0.2.1` today, which I think will solve these problems. It's using the new resumable direct upload to MUX and should work better for larger files. Let me know if you still experiencing problems. I'm closing this now.

[2019-10-12 15:32] #8 closed

[2019-10-18 13:39] sachinkaria commented on #8
Still experiencing this issues with larger videos

[2019-10-19 07:04] skogsmaskin commented on #8
Are you sure you're running the latest version @sachinkaria? What is the error?

[2019-11-21 10:14] sachinkaria commented on #8
Hi @skogsmaskin we narrowed down the issue to the pollUpload - maxTries variable (we set it to 200 to test), for larger videos this worked :)

![image](https://user-images.githubusercontent.com/8612895/69328713-a0e82080-0c47-11ea-82a7-7e435c52f376.png)

[2020-02-21 22:39] patrickdaley opened #10 "Allow MP4 Support"
The Sanity API this is communicating with seems to be setting default values with its asset creation request. Is it possible to include the `"mp4_support": "standard"` line to enable MP4 transformations?

[2020-02-21 23:38] patrickdaley opened #11 "Can't remove items from media library"
It looks like the draft that contains the interface for removing items blocks the removal action:

"The mutation(s) failed: Document "b430b968-9037-44ab-9878-28376fb86d08" cannot be deleted as there are references to it from "drafts.b32572a0-8c4f-43f5-acc1-edf0f6ac9b64""

[2020-02-24 08:44] kmelve commented on #11
Thanks for reporting @patrickdaley! This is probably a “not a bug, but a feature”. The backend doesn't let you remove documents with incoming (strong) references. This is to prevent you from unintentionally breaking something in another document that might rely on the asset existing.

Did you remove the video reference from the `drafts.b32572a0-8c4f-43f5-acc1-edf0f6ac9b64` document?

[2020-02-24 08:54] kmelve commented on #10
Thanks for reporting @patrickdaley! I've made PR to add mp4 support, but still waits for confirmation from the people over at Mux that their SDK supports this param. Didn't find any mention of it in the SDK readme.

[2020-02-24 19:13] patrickdaley commented on #11
Hi @kmelve! That reference is the active draft. Because you need to be in the interface for adding the asset to remove it, it's counted as referenced by the same draft you're trying to use to remove it. Hope that makes sense!

[2020-09-13 12:40] israelroldan opened #16 "Allow configuring playback_policy"
Hi guys!

First of all, awesome work with the plugin!

This is an awesome plugin and offers the exact functionality the majority of mux users need, however... it seems there's no way to configure `playback_policy` for direct uploads? This must be specified when creating the Video upload URL which IIUC is currently done server side in sanity side (`/addons/mux/uploads/${studioClient.clientConfig.da

[2020-09-13 12:41] israelroldan commented on #11
+1 that currently open draft is preventing the item from being removed

[2020-09-24 06:01] paalwilliams opened #17 "Uploading video file crashes desk.. even on demo."
Hi,

A bit flustered by this one. No matter what I do, I cannot get Sanity Desk to play nicely with this plugin.

I'll add a schema according to the spec, copying and pasting whats below:

[code]

And no matter the file size or duration, each time it crashes Sanity Desk with this error:

[code]

My Schema within the default schema file is configured as such:

[code]

The video, however, does seem

[2020-09-24 08:19] p10e commented on #17
Hi Paal,

How frustrating indeed. Let's try to resolve this one. To help us reproduce the issue, could you share what versions of Sanity you are on? You can find out by running `sanity versions` in the CLI (or checking your `package.json` file).

Also, are you in our [Slack community](https://slack.sanity.io/) by any chance? If so, please feel free to reach out to `@Peter` in DM so we can troubles

[2020-09-24 08:20] paalwilliams commented on #17
Hi there!

Sanit versions outputs

[code]

I'm not in the slack community - but I'll definitely join.

[2020-09-24 22:28] kfrederix commented on #11
I can also confim that this makes it kind of impossible to remove a video from the studio interface.

[2020-09-25 17:43] paalwilliams commented on #16
Yeah, this would be a great addition!

[2020-10-17 21:43] rosnovsky commented on #17
Hey folks,
I have the same issue. Sanity CLI 2.0.1. Was this resolved?

[2020-10-17 21:51] paalwilliams commented on #17
Hey @rosnovsky ,

I unfortunately went another direction with the CMS as I couldn't figure out what was causing this.

Things that fixed it for me, (although I'm not sure this is a permanent fix but seemed to fix some things).

- Disabling all cookie and content tracking my browser. (This fixed me being unable to login with Firefox).
- Using a different OS. I still have not gotten MacOS to work wi

[2020-10-17 22:11] rosnovsky commented on #17
Yeah... I tried a bunch of things, including trying Linux, different browsers, and I'm not sure the issue is there.

There must be some sort of a loop that constantly sets input field state as soon as the video is uploaded. I'd love to take a shot at fixing it, but I'm unsure where to look and what to look for :/

[2020-10-17 22:22] paalwilliams commented on #17
yeah, sorry man. I'm still not totally sure why switching OS would even resolve it, considering its a very similar environment, same node version, etc.

And yeah - I'm in agreement with you it seems to be related to the state on upload. In any case this plugin definitely isn't able to be shipped to clients at this point, so here's hoping they patch it soon.

[2020-10-18 15:40] dylanjha commented on #17
@rosnovsky @paalwilliams I tried and I was unable to repro this. I would <3 to get a repro case (Mac) so that I can work on a patch. I'm running sanity locally

[2020-10-27 02:17] rosnovsky commented on #17
I don't know what I did ~wrong~ right, but reinstalling the plugin solved it for me. No clue why or how 🤷

[2020-11-10 13:47] krilo opened #18 "Adding Credentials API call is returning a 502 error"
[code]

Returns ```{"statusCode":502,"error":"Bad Gateway","message":"api.mux.com responded with 404 (The requested resource either doesn't exist or you don't have access to it.)"}```

Not sure if this is the best place to file the issue since it seems to be a issue with the Sanity API more than the plugin. Let me know if there is a better place I can post this issue. Thanks :)

[2020-11-10 14:09] dylanjha commented on #18
@krilo thanks for reporting! I'll have a look and see if we can track this down. Is it easily reproducible/happens every time you try to add credentials?

[2020-11-10 14:34] krilo commented on #18
@dylanjha Thanks for the quick reply :D Yes this happens consistently, steps to reproduce are as follows

1. Install the sanity plugin
2. Add mux.video type to schema (See my schema below)
3. Navigate to a entity that uses the mux
4. Be asked by plugin to add my credentials and do so by clicking the config icon and add the access key, secret and pressing submit.

Earlier today was the first time I

[2020-11-10 14:34] dylanjha commented on #18
@krilo can you make sure your access token has "Full Access" to Mux Video and also "Read" access to Mux Data please? Currently, the integration needs Mux Data read access in order to get through the step of verifying credentials.

<img width="828" alt="Screen Shot 2020-11-10 at 6 27 13 AM" src="https://user-images.githubusercontent.com/764988/98687544-b5bd3880-231e-11eb-9be3-45bbbad8145b.png">

[2020-11-10 14:49] krilo commented on #18
Oh no, I had not added Read for Mux Data and not the install steps works exactly as expected. I was following this guide https://www.sanity.io/blog/first-class-responsive-video-support-with-the-new-mux-plugin but clearly missed the requirement of having to give access to Mux Data. My bad.

Thank you so much for the help with this.

[2020-11-10 14:51] dylanjha commented on #18
No worries! I'll actually work to get that updated. We really _shouldn't_ need data Read access for this integration. Thanks for posting, I'm sure other people have run into this!

[2020-11-10 17:45] #18 closed

[2020-11-11 16:04] dgrbrady opened #19 "Sanity Asset Missing Mux Asset Information"
Hello all, I'm having some problems using the `mux-input` plugin. When I open the sanity studio, I can choose a video and upload it successfully to Mux, but when I try to use GROQ to retrieve information about the video, the information is incomplete. I have followed the set up guides exactly, but I am new to Sanity and Mux so I may be missing something. Anyway, here is is my `course.js` schema:

[2020-11-11 16:27] dylanjha commented on #19
Hi @dgrbrady see about "Expanding References" here: https://www.sanity.io/docs/how-queries-work#expanding-references-8ca3cefc3a31

You'll want to do something like:

[code]

This is just how GROQ works, when you have a reference to a different document, you need to tell GROQ to expand it. Try that please!

[2020-11-11 16:37] dgrbrady commented on #19
Wow it was just that simple (had to do `video->` instead of `video.asset->` but that worked! Thank you so much for the quick response. I probably would have been stuck on this all day lmao

[2020-11-11 16:37] #19 closed

[2021-01-05 14:24] KimPaow commented on #11
I would also like to bump this. Is there a timeframe for when we can expect this to be fixed or does anyone have a workaround?

[2021-01-07 01:20] KimPaow commented on #11
I needed this for a client asap so I published a fork to npm with some updates. Rush-job so not 100% tested yet but seems to work so far. I added the new sanity ui components and fixed some visual bugs too (checkbox labels not visible etc).

If you're reading this and are in the same situation - please feel free to try it out by running `sanity install @kimpaow/sanity-plugin-mux-video-input`. Hope

[2021-02-09 12:52] cedjud opened #23 "Failing to prompt for mux credentials on first use"
#### Issue description

Using v0.3.0.
While using the plugin for the first time a spinner with a message saying "Fetching credentials" appears. I have not previously added the credentials. Meanwhile the button to toggle the credentials prompt doesn't do anything.

#### Steps to reproduce the issue

1.  Install the plugin in a new project
2. Add schema making use of the "mux-input" as described in

[2021-02-09 21:56] erikpena commented on #23
Hello @cedjud,
First off, thank you for the thorough repro.  It led me directly to the root of the issue.  I'll be submitting a PR for this here shortly. 😁

[2021-02-09 22:08] rexxars commented on #23
Fixed in v0.3.1 - thanks for reporting!

[2021-02-09 22:08] #23 closed

[2021-02-10 10:18] danielblignaut opened #25 "Support block content"
Hi,

The Mux input works as a field on a custom document type however if I try adding it to the blockContent definition as a custom input, I get the following error:

Stack trace:
[code]
Component stack:
[code]

[2021-02-10 16:53] dylanjha commented on #25
@danielblignaut can you share your schema code?

In our block content we have a type like this:

[code]

And `muxUpload` is a type we defined like this. You can see this `muxUpload` type contains `mux.video` as a field. And it also contains some other handy fields that we typically need when displaying the video

[code]

[2021-02-10 17:16] danielblignaut commented on #25
I just tried editting my code to match the above, however I still get the same issue.

block content definition:

[code]

muxUpload definition:

[code]

[2021-02-10 17:17] danielblignaut commented on #25
The error occurs specifically on clicking the edit button below:

<img width="648" alt="Screenshot 2021-02-10 at 17 17 17" src="https://user-images.githubusercontent.com/1087177/107546098-e59d0600-6bc3-11eb-890f-3e6d106614db.png">

[2021-02-11 06:16] #17 closed

[2021-02-11 14:28] dylanjha commented on #16
@israelroldan @paalwilliams this was completed in #22

🙌 please try it out and let us know how it works for you!

[2021-02-11 14:32] dylanjha commented on #25
@danielblignaut I was able to repro this. Will have a look. Thanks for reporting

[2021-02-12 09:23] danielblignaut commented on #25
no problem - I would try and resolve myself but a bit of a sanity newbie! Thanks for the help

[2021-02-23 20:33] #25 closed

[2021-03-03 16:04] mornir commented on #11
@KimPaow Thanks for the fork! Working great so far! 😃

[2021-04-19 18:22] nboliver opened #28 "Can't remove video from document"
Our schema has videos nested within an array of content modules. Once a video is set, you can't remove it from the document, unless you delete the parent module / object.

When you remove it using these settings, it appears the video is gone:
![image](https://user-images.githubusercontent.com/3094055/115284227-42a3c380-a101-11eb-8dfe-30ca515cf789.png)

![image](https://user-images.githubuserconten

[2021-04-29 21:08] simonandywilson opened #29 "Malformed asset error with Sanity 2.10.0"
After upgrading to Sanity 2.10.0, uploading an asset using this plugin causes Sanity to crash with the following error:

[code]

[2021-05-06 09:02] eriklindebratt opened #30 "Input field logs error to console on each render"
Each time the video input field is rendered (e.g. when editing a document containing a field of type `mux.video`, an error is logged to the console

…where `field-video` will be called something else depending on what you've named your `mux.video` field in your document schema (mine is called `video` – renaming that field will just log a similar message but e.g. `useReporter(field-someOtherFieldNa

[2021-05-06 09:27] eriklindebratt opened #31 "API client is versionless"
The API client used when e.g. fetching secrets does not specify Sanity API version, resulting in a deprecation warning, e.g.:

[2021-05-24 19:20] pastinepolenta opened #180 "Ability to upload a mux video via Sanity programatically"
**Is your feature request related to a problem? Please describe.**
Ability to upload a Mux video using the @sanity/client like we can do for images and files

**Describe the solution you'd like**
The mux video is uploadable via JS script instead of using the dashboard

**Describe alternatives you've considered**
Looking at the source code of the mux plugin and repeating the same code that plugin i

[2021-05-24 19:28] pastinepolenta opened #32 "Integration with @sanity/client"
@sanity/client allows to create documents with assets like images and files but I can't figure out an easy way to do so with Mux videos

See also: https://github.com/sanity-io/sanity-plugin-mux-input/issues/180

Perhaps we can get a client extension or some documentation on how to use this plugin for programmatic upload?

[2021-06-21 13:13] And3y opened #36 "Deploying Graphql"
When I run the command `sanity graphql deploy` I receive this error:

[code]

After downgrading to version `0.3.4` I was able to deploy again without any problems.

[2021-06-21 15:36] dylanjha commented on #36
@And3y thanks for surfacing, we'll take a look at this!

[2021-06-23 02:59] rafaelmonroy commented on #30
@eriklindebratt did you figure out what was causing the issue? Currently experiencing the same bug, I can upload videos to Mux through sanity but can't select them from the library once uploaded. Getting this error message when I try selecting

`Uncaught TypeError: Cannot read property 'from' of undefined`

I'm thinking these errors might be related

[2021-06-23 07:57] KimPaow commented on #30
@rafaelmonroy What version of sanity are you using? v1.0.0 of this plugin has a peerDependency of "@sanity/base": "^2.11.0".

The issue you are experiencing is most likely because you're using an older version which doesn't include all the features from sanity/ui this plugin is using.

[2021-06-23 13:55] DanielHirunrusme opened #37 "Error: Cannot read property 'from' of undefined"
Receiving error message 'Error: Cannot read property 'from' of undefined' in Sanity when trying to upload video and/or browsing selecting video. See loom here https://www.loom.com/share/475aed66dc724aa1bfe60cad3f1e77d6

This is with a fresh install of Sanity. Steps I took:

1. Sanity init
2. Chose the movie schema when creating sandbox Sanity
3. Did 'sanity install mux-input'
4. Added the schema i

[2021-06-23 14:06] KimPaow commented on #37
@DanielHirunrusme Thanks for reporting this, can you share your list of sanity dependencies? @sanity/base etc.

[2021-06-23 14:18] DanielHirunrusme commented on #37
Here is my package.json

`{
  "name": "sanitytest",
  "private": true,
  "version": "1.0.0",
  "description": "",
  "main": "package.json",
  "author": "Daniel Hirunrusme <daniel@halfhalf.us>",
  "license": "UNLICENSED",
  "scripts": {
    "start": "sanity start",
    "build": "sanity build"
  },
  "keywords": [
    "sanity"
  ],
  "dependencies": {
    "@sanity/base": "^2.12.0",
    "@sanity/comp

[2021-06-23 14:35] bjoerge commented on #37
Thanks for reporting! A fix for this was shipped in [v2.12.2](https://github.com/sanity-io/sanity/releases/tag/v2.12.2) so it should work again now.

[2021-06-23 14:35] #37 closed

[2021-06-23 16:14] DanielHirunrusme commented on #37
@bjoerge @KimPaow Thank you! It's working for me now!

[2021-06-23 17:08] rafaelmonroy commented on #30
@KimPaow I'm using `"@sanity/base": "^2.12.2"`

I noticed, the error

`Invalid call to useReporter(field-video): A component reporting on "field-video" is already mounted in the subtree. Make sure that all reporters within the same <Tracker> subtree have unique ids.`

only gets logged after I enter the token and secret.

I can upload videos fine, but running into issues using the browse feature, b

[2021-06-23 19:33] mikeybell opened #38 "Sanity Plugin Setup Error"
Hello, I am following this blog post (https://www.sanity.io/blog/first-class-responsive-video-support-with-the-new-mux-plugin) to set up your plugin in Sanity.

When I get to this step: `Back in Sanity Studio, find the document where your video field appears, and click the plug-icon 🔌on the Paste your Access Token and Secret Key.`, I get an error that I cannot figure out.

When clicking on the plu

[2021-06-23 19:36] dylanjha commented on #38
Hi @mikeybell what version of sanity studio are you running?

Between older studios and recent (2.11) there was [a breaking change](https://github.com/sanity-io/design/commit/7b36eb0c7015d7f57ff679b2ff19850e47105acc)

`sanity-plugin-mux` specifies a peerDependency for `@sanity/base: ^2.11`. If you are on an older version, are you in a place where you can upgrade your studio (run `sanity upgrade`)?

[2021-06-23 19:40] mikeybell commented on #38
Hi @dylanjha, we are currently on `@sanity/base: ^2.10.0`. Thanks for the hot tip and timely response. I will see if we can upgrade and hopefully that will fix it. Much appreciated.

[2021-06-23 20:15] #38 closed

[2021-06-23 20:54] dylanjha commented on #38
@mikeybell I see you closed the issue, did that fix it for you?

[2021-06-23 21:19] mikeybell commented on #38
@dylanjha I am not sure which one actually fixed it. But I upgraded the version and had to install `styled-components` to get it to stop crashing.

[2021-06-24 21:12] dylanjha commented on #36
Found it! with @KimPaow 😅

`media-chrome` will try to detect server-side environments and shim out the `window` functionality that it relies upon in order to prevents things like this. It does so by using this [`windowShim`](https://github.com/muxinc/media-chrome/blob/main/src/js/utils/server-safe-globals.js)

The problem is here

[code]

It turns out, in this sanity environment where the `sanity

[2021-06-25 09:48] judofyr commented on #36
This has now been fixed in media-chrome v0.1.1, but we're depending on v0.0.15. I'm guessing we'll have to upgrade the dependency here as well?

[2021-06-25 12:24] KimPaow commented on #36
@judofyr Yes, we're working on this and you should see a new release very soon.

[2021-06-28 19:06] #36 closed

[2021-06-28 19:09] rexxars commented on #31
Thanks for reporting - fixed in v1.0.0

[2021-06-28 19:09] #31 closed

[2021-06-29 14:10] dylanjha commented on #38
Ah, gotcha. Thanks @mikeybell we also made a change to specify styled-components as a `peerDependency`. v1.0.1 was just released to fix some of these rough edges. If you're having any trouble trying pulling in that version.

Thanks!

[2021-06-29 15:04] hylmar opened #40 "Uncaught error: theme is undefined"
After installing the plugin Sanity throws this error: _Uncaught error: theme is undefined_. The browsers developer tools don't shed any light on the issue.

Does anyone have any idea what could be going on?

[code]

[2021-06-29 15:10] KimPaow commented on #40
Sorry to hear that you're running into trouble! What version of the studio are you on?

[2021-06-29 18:28] KimPaow commented on #40
Confirmed that it's working properly on 2.11.2 and 2.12.2, maybe you need to delete your node_modules and reinstall those?

[2021-07-01 08:33] hylmar commented on #40
@KimPaow Thanks! Upgrading to 2.12.2 solved the issue.

[2021-07-01 08:33] #40 closed

[2021-07-01 08:33] eriklindebratt commented on #30
@rafaelmonroy No, I did not unfortunately.

[2021-07-08 11:32] RobEasthope opened #41 "Mux.video type name breaks sanity-codegen type generation"
I'm using the sanity-codegen plugin to generate typescript types across my project but it's throwing an error due the full stop in the mux.video schema type name.
[code]

I appreciate it's a third-party plugin and not the responsibilty of the authors of this repo but does anyone have an suggestions? Is it possble to alias the name in some form? Short of forking the whole plugin I can't think of a

[2021-07-08 15:38] dylanjha commented on #41
Thanks for surfacing @RobEasthope -- I hadn't seen sanity-codegen before. Seems like that lib is enforcing this rule around schema type names.

I'm looking at that library to see if there's a way to ignore a particular schema name, or ignore 3rd party plugins, but there doesn't seem to be.

I'll follow along on the sanity-codegen issue that you opened

[2021-07-08 16:11] ricokahler commented on #41
This was definitely an issue upstream. [All fixed now](https://github.com/ricokahler/sanity-codegen/issues/145) 😄 . Thanks for raising this!

[2021-07-08 16:11] #41 closed

[2021-07-08 17:10] dylanjha commented on #41
@ricokahler thanks so much for the quick turn around!

[2021-08-28 16:19] logemann opened #42 "duration in grapqhl"
when using mux-input in sanity, i am getting back something like the following in graphql:

[code]

Is there a reason i dont get back the "duration" of the clip?

[2021-08-28 16:36] logemann commented on #42
it looks like the plugin gets the asset data via this function after uploading.

[code]

so i wanted to check out which data is sent back by the mux webservices, but i really cant figure out who is responsible for the URL `/addons/mux/assets/${dataset}/data/${assetId}`

Perhaps somebody can help me out here to better understand this and perhaps i can provide a fix myself.

[2021-09-03 08:45] logemann commented on #42
figured how to access duration in GraphQL in gatsby via _raw fields. Will ask a different question regarding this plugin how to put this attribute in a nicer spot in the structure.

[2021-09-03 08:45] #42 closed

[2021-09-03 08:51] logemann opened #43 "put duration in better place in graphQL"
When querying my video content with graphql (gatsby) with the following query:

[code]

I am getting the duration only via _rawAsset and not via video -> asset structure. See the result below

[code]

I simply cant find the codeblock who is responsible for putting the clip duration which is burried under _rawAsset.data into the perfect slot right beneath playbackId and thumbTime.

[2021-09-09 12:47] helleholmsen commented on #10
Any updates here @kmelve?

[2021-09-10 09:20] kmelve commented on #10
Hi! We have some ongoing work here: https://github.com/sanity-io/sanity-plugin-mux-input/pull/13

I've pinged the team to see if we can get it merged!

[2021-09-27 01:17] robinpyon opened #44 "Dangling mux.videoAsset documents remain when file uploads are not gracefully aborted"
###  Steps to recreate

Either:
1. Initiate an upload (either manually with a local file or via copy and paste)
2. 'Ungracefully' abort the transaction (by navigating to another part of the studio, reloading the browser etc) before the file has completed uploading

At this point, the studio will have created a dangling and incomplete `mux.videoAsset` document with `status === "waiting_for_upload"`

[2021-09-30 21:09] bradley opened #46 "Signed URL support?"
As far as I can tell, youre able to set up assets on the Sanity end to upload and use signed URLs (some proof here being that they display fine in Sanity and you can see `?token=...` in their URLs in the Network tab). However, actually consuming these resources over the Sanity API to your frontend does not appear to work, as there doesn't seem to be a way to request down the asset's `playbackId` e

[2021-09-30 21:36] dylanjha commented on #46
Hi @bradley you will need to create a signing key pair and generate signed URLs on your server. More [details here](https://docs.mux.com/guides/video/integrate-with-sanity#advanced-signed-urls)

Generating signed URLs client-side is not possible, as that would require exposing your signing keys in the client.

[2021-09-30 21:45] bradley commented on #46
@dylanjha Oh ok, that makes sense. Was hoping that was something Sanity would do before returning data with each API request, but makes sense. Best.

[2021-09-30 21:45] #46 closed

[2021-09-30 22:11] dylanjha commented on #46
Yeah, unfortunately we don't have a way to run server-side code with a Sanity plugin

[2021-10-05 14:34] gristleism commented on #11
Struggling with this today, client can't remove a video from their page so I had to go into the frontend codebase and disable it manually, very frustrating.

[2021-10-05 14:35] gristleism commented on #28
Ran into this today, client couldn't remove an optional video from the CMS so had to manually disable it in the frontend codebase.

[2021-10-05 14:37] dylanjha commented on #11
@gristleism what version of the plugin are you on? I believe this was added back since v1.0.0

[2021-10-05 15:02] gristleism commented on #11
My `package.json` file says it should be loading `^1.0.1`.

[2021-10-05 15:51] KimPaow commented on #11
Yep, this was added since v1.0.0.

@gristleism could you also share what version of the studio you have?

[2021-10-05 15:53] gristleism commented on #11
@KimPaow happy to! Would you mind letting me know where I can find which version of the studio I'm using?

[2021-10-05 16:00] KimPaow commented on #11
@gristleism you can run `sanity versions` in the terminal and share the output or check your `@sanity` deps from package.json

[2021-10-05 16:08] gristleism commented on #11
Results from initial run:

[code]

I then ran `sanity upgrade` and afterwards here are the versions:

[code]

Running again locally, I attempted to delete a video file again and received the following error:

`the mutation(s) failed: Document "d1a72d5b-e897-4ad9-9cb3-7df4c8709afc" cannot be deleted as there are references to it from "frequentlyAskedQuestions"`

[2021-10-05 16:54] KimPaow commented on #11
@gristleism I just tried running this with the same dependencies you listed here and am unable to reproduce it. Maybe try deleting node-modules and lock files and then reinstall all packages.

If the asset was created using an older version of the plugin (pre v1) this could also be causing problems. To fix that you could delete the old documents and recreate it using v1+ of the plugin. Or you coul

[2021-10-12 12:45] homerjam opened #47 "Upgrading to sanity@2.21.0 breaks existing fields"
Hi, apologies for brevity I have limited time...

I just upgraded from `sanity@2.19.4` & `mux-input@1.0.1` to  `sanity@2.21.2` & `mux-input@1.1.0` and all `mux.video` fields went blank in the studio, however still present in the API.

I have resolved simply by downgrading.

[2021-10-13 11:58] bitzky opened #48 "Video preview in sanity studio displays the wrong video"
I found a strange bug in sanity studio. Every time I click on a new video, it shows me the video that I clicked right before. The first video that I click is empty.

After deleting everything, upgrading to sanity 2.21.0 and MuxInput 1.1.0 and uploading some videos again, the bug still remained.

https://user-images.githubusercontent.com/8150506/137128688-74ddb190-de25-4679-b905-670a36e0e68d.mov

[2021-10-20 02:17] gpoole opened #49 "Module should potentially be using named exports instead of exporting an object"
The module exports from this plugin seem to be [an object exported as `default` with the components as properties](https://github.com/sanity-io/sanity-plugin-mux-input/blob/main/src/index.js#L4), instead of named exports. Because of that the following does not work as I expected:

[code]

I think from a user perspective this is confusing and might be worth changing to named exports?

[2021-10-21 23:55] gpoole opened #50 "Validation errors are not shown"
It seems to be not possible see validation errors for `mux.video` type fields.

For example, the following causes a validation error but it isn't visible next to the `mux.video` field:

[code]

[2021-10-22 03:50] gpoole commented on #50
Whoops, nevermind! I must have been doing something wrong when I logged this, it seems to be working correctly now somewhere else in my build.

[2021-10-22 03:50] #50 closed

[2021-10-29 17:58] geball opened #51 "Audio files render a large black placeholder"
When an audio file is uploaded, a large black placeholder is rendered in the studio.

<img width="582" alt="A black placeholder is rendered when an audio file is uploaded." src="https://user-images.githubusercontent.com/45116528/139480526-b3791156-6332-4944-a2ac-d3876c99751a.png">

The mux-input plugin is using the media-chrome package, which is applying this CSS rule:

[code]

However, `media-con

[2021-11-02 12:37] iaradds opened #52 "Add subtitles to Mux videos on Sanity"
Hi, we have Mux integrated with Sanity and currently only video and audio are supported but I was checking the documentation and you also offer the possibility of adding subtitles. Could you make this be available through the Sanity integration? Thank you

[2021-11-11 15:10] davidalexander opened #53 "Link up Existing Video in Mux"
Hi. Thanks so much for the plugin.

Can I ask if there's a way to associate/select a video asset that already exists in Mux e.g. by its asset ID?

Effectively, we are implementing Sanity as the CMS and need to move the existing video assets into it but don't want to re-upload them all.

Thanks!

[2022-01-28 10:41] ringods commented on #30
Error still occurs. Today, I used the FormBuilder API, according [this section in the docs](https://www.sanity.io/docs/custom-input-widgets#40b31a232a03), to display my custom type in my plugin:

https://github.com/ringods/sanity-plugin-github/commit/ef38cb5c91ef55578fe9abf5eeddb59a7ed8fdc7

When I edit an instance of my type, once the input component renders, I get this error a number of times in

[2022-02-28 16:50] simonhrogers commented on #52
Agree would be great to see this.

[2022-03-23 20:36] bitterbit commented on #53
I gave this a try today but got stuck
* I added "Import" an import button to `src/components/Input.js`
* and creating `src/components/ImportAsset.js` to be the popup that lists the assets that are available on the mux servers

I got stuck when I saw that mux api access (`src/actions/assets.js`) does not query mux directly
rather use a local endpoint (`/addons/mux/assets`) which has no documentatio

[2022-04-08 16:02] JulienDesmettre commented on #11
Same "not a bug" issue, but the problem is that i don't anymore have access to the drafts.xxxxxxxxxx, as i made mutations that deleted the schema of  this object/document that refers to the other document i want to delete. So it doesn't exist anymore in my Sanity Studio.  Is there anyway to access it via url and its id drafts.xxxxx ?

[2022-04-09 02:59] geball commented on #11
@JulienDesmettre You can access the document directly by running `sanity documents create --watch --replace --id 'drafts.xxxxx'` from the terminal.

[2022-04-10 09:00] JulienDesmettre commented on #11
Thanks for your answer geball. Yes i found it on Sanity CLI doc just few minutes after my question here.

[2022-04-26 19:58] intensr opened #56 "Possibility of HLS config injection"
Hey, would it be possible to integrate a configuration object which injects itself into the HLS config object at creation?

[Line of injection](https://github.com/sanity-io/sanity-plugin-mux-input/blob/476874f7c67348b29c508fadb651f52bd5f48042/src/components/Video.js#L147)

This would be really helpful since HLS has a huge variety of options to tweak the video experience
see here https://github.com

[2022-05-19 16:24] zanedev opened #57 "Asset is sometimes empty in production build"
For some reason the mux asset in Gatsby is sometimes an empty object in production build with no playbackid. We fixed it by temporarily hard coding the playbackID in the front end.

Is this an issue with the mux sanity input or sanity's api or gatsby somehow?

[2022-06-18 21:39] github-actions[bot] opened #58 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `studio-v2` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sur

[2022-06-18 22:25] #58 closed

[2022-06-19 07:22] jimmi-joensson commented on #57
Believe I just experienced the same. Asset kept returning as null in my Sanity data

[2022-06-19 08:00] jimmi-joensson commented on #11
Ran into this issue as well. The issue happens when the `mux.video` is used inside of a schema with the type `array` which includes Portable Text for site building which does not seem optimal.

I made a quick hacked solution by adding `mux.video` to a document solely to delete my videos.

Here is a small screen recording for reference:
https://user-images.githubusercontent.com/15996198/174471561-b

[2022-06-21 12:03] babyPrince opened #59 "Batch upload multiple videos"
Is there any possibility to upload multiple videos at once in a sanity array field? Currently the array with mux.video is an object and can take a single video at a time.

Also noticed a bug when you add an entry in the array, close the modal, move on to upload the next video as an other array entry, the first video transfer is canceled.

[2022-06-25 14:40] ktisakib commented on #29
I got the same probleeem can   aan one help here??

[2022-07-12 05:58] mitch-john commented on #57
Experiencing the same with Sanity and Gatsby.

[2022-07-13 07:41] jjjuulliiaann commented on #11
I have the same issue. As described by @jimmi-joensson it is impossible to delete videos inside the studio, because they have to be added to a document to access the delete button (and therefore can't be deleted as there are references to it).

Maybe it would be a good idea to have a delete button inside the browse/select grid (just like we have inside the image select grid)

<img width="207" alt=

[2022-07-20 14:00] palmerama commented on #57
I'm having the same issue. Seems like a quick fix to get done properly. Is it likely to happen soon?

[2022-07-25 15:52] stipsan commented on #57
Hey y'all, can you test [`v1.1.4`](https://github.com/sanity-io/sanity-plugin-mux-input/releases/tag/v1.1.4) and see if it fixes it? 😄

[2022-07-25 15:58] #47 closed

[2022-07-25 15:59] #28 closed

[2022-07-25 16:02] #16 closed

[2022-08-06 15:20] renovate[bot] opened #61 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.

 - [ ] fix(deps): update dependency motion to ^10.13.2
 - [ ] chore(deps): update devdependencies (non-major) (`@parcel/pack

[2022-08-11 15:49] j2is opened #65 "Cannot preview videos with signed urls"
When I enable the signed url settings, I get an error: `url.startsWith is not a function` inside of the `Video` component.
The video preview works fine when the enable signed url option is disabled. Not sure where I'm going wrong.

Sanity Studio: dev-preview
Sanity Mux Plugin: ^2.0.0-v3-studio.5

[2022-08-17 00:06] github-actions[bot] opened #68 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `studio-v2` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sur

[2022-08-17 00:15] #68 closed

[2022-08-17 08:00] #65 closed

[2022-08-24 11:29] jfulse commented on #30
Not sure if related but I got rid of this error by setting `__unstable_changeIndicator={false}` on a `<FormField>` (imported as import { FormField } from "@sanity/base/components";)

[2022-09-14 11:54] stipsan opened #86 "Implement `dynamicChunkSize` introduced in `@mux/upchunk@^2.5`"
Changelog introducing the feature is referenced in this PR description: https://github.com/sanity-io/sanity-plugin-mux-input/pull/76

[2022-09-29 21:14] #86 closed

[2022-09-29 23:22] stipsan opened #101 "Replace `parcel` with `@sanity/pkg-utils`"
Parcel have multiple times blocked new releases due to some incompatibility with a new typescript version. It hurts productivity so it's best to migrate to the same build tooling that we use in the v3 studio: `@sanity/pkg-utils`, which uses `vite` under the hood.

[2022-10-03 14:46] homerjam opened #102 "Failed upload causes studio to crash"
<img width="786" alt="Screenshot 2022-10-03 at 15 45 53" src="https://user-images.githubusercontent.com/1055769/193606616-068f4a0b-3fa8-45fe-a82c-30bb4fcf61a7.png">

[2022-10-21 01:53] matt-sanders opened #126 "Disable removing asset from Mux"
When an asset is referenced between two documents, a user can still choose to delete the asset from Mux when removing the video from a document. If you try and do this a mutation error will display. Would it be possible to either:
1. Have the option to disable removing from Mux completely ( we'd prefer to manage these within Mux )
2. Stop users from removing from Mux if the asset is referenced els

[2022-10-24 07:04] biowatch-andersnielsen opened #127 "Error and missing thumbnails on assets that didn’t finish upload"
When not finishing an upload, the asset still shows up in ‘browse’ with a question mark thumbnail and with some errors (see screenshots) due to missing playback id

Expected/suggested behaviour would be to not show the assets that aren't ready.
Alternatively to show title/filename only and not try to fetch the asset and thumbnail.

Version 1.1.9 on Sanity 2.35.0

<img width="371" alt="CleanShot 20

[2022-10-24 07:12] biowatch-andersnielsen opened #128 "Audio preview/browse gives errors"
Uploading audio files works, but browsing assets with audio files gives an error due to no thumbnails being found in the UI as well as in the console.

<img width="405" alt="CleanShot 2022-10-24 at 09 09 38@2x" src="https://user-images.githubusercontent.com/110821377/197467856-b367d90c-4022-42a2-b1df-2bbf9fdb6cd5.png">

<img width="204" alt="CleanShot 2022-10-21 at 10 24 03@2x" src="https://user-i

[2022-10-26 14:39] wrux opened #129 "CORS error when uploading video"
I'm trying to setup the plugin in Studio v2, but it looks like I'm getting CORS issues. I've followed the setup guide and added the API credentials, but it looks like there's an issue with the request.

Any idea on how to resolve this?

Here's the deps in my Studio instance:

[code]

A few screenshots:

<img width="380" alt="Screenshot 2022-10-26 at 22 34 47" src="https://user-images.githubusercon

[2022-10-27 15:32] Ojay commented on #53
I've a similar need to this.... we're migrating an old WordPress setup over to Sanity and so need to link up our Mux Input with the data from WP.

Would I be right in thinking that we'd need to batch import all of our Mux data into Sanity as a `mux.videoAsset` and then go about linking up the Mux Input to the relevant `mux.videoAsset`?

Essentially, we're looking for guidance on migrating existing

[2022-10-28 13:19] #127 closed

[2022-10-28 13:19] biowatch-andersnielsen commented on #127
Duplicate of #44

[2022-11-02 11:22] miklschmidt opened #130 "Input never sets `_type` on document."
This leaves every video field with no _type identifer, ie:
[code]

which should be

[code]

[2022-11-07 01:48] MichaelPrecel commented on #11
Did anyone manage to find a way through this? Multiple versions later and this is still a problem, totally unable to remove a video from a field. Seems to be a very core functionality that bugs out and certainly getting in the way of using Mux in this project.

[2022-11-09 17:09] danielskogstad commented on #53
We have over 2000 existing videos uploaded to mux that we use in our app. We hoped the Sanity mux plugin would allow us to browse and pick videos from the library, so we could showcase some of them on the website to promote our app content, but this plugin seems to only allow uploading new ones.

[2022-11-10 01:04] rylanharper commented on #11
Has anyone figured out a solution to this?

I am in the same boat as others above... The plugin still does not allow a video to be removed and when I create a separate module/page section containing a mux component, the plugin breaks with a `Mutation(s) failed with 1 error(s)` Client Error:
[code]
On top of this, if I delete a video within the Mux dashboard the videos are not updated within the `S

[2022-11-27 14:47] sharpsteelsoftware1 opened #163 "Watermark support?"
I love this plugin it's such a core part of my business! I am looking to add watermarks to my videos. It looks like it is not supported because I do not see it in the UI. It also looks like the Mux API makes it problematic to add watermarks to existing videos as I think they expect the user to close the asset.

[2022-11-29 16:54] michaelburtonray commented on #52
Agreed, Client requires subtitles in their videos as part of their accessibility guidelines.